    <style>
        button {
            height: var(--ordbase-button-height);
            font-size: var(--ordbase-button-font-size);
            width: 100%;
            cursor: pointer;
            background-color: transparent;
            color: var(--ordbase-color-dark);
            
            border: 10px solid transparent;
            border-width: 0px 0px 0px 10px;
            /*border: 1px solid var(--ordbase-color-select);*/
        }   


        button:focus {
            outline-color: var(--ordbase-color-dark);
            outline-width: 2px;
        }
        button:focus,
        button:hover {
            background-color: var(--ordbase-color-dark);
            color: var(--ordbase-color-white);
        } 

        button.selected:focus,
        button.selected {
            border-color: var(--ordbase-color-select);
        }

    </style>

    <button id="{{ id }}"> 
        {{ text }} 
    </button>
