    <style>    
@import url('./node_modules/font-awesome/css/font-awesome.min.css');

        :host {
            width:100%;
        }

        button {
            background-color: transparent;

            color: var(--ordbase-color-dark); 

            display: flex;
            flex-wrap: wrap;

            margin-right: 0px;
            padding: 0 4% 0 4%;

            width:100%;
            min-height: 75px;
            font-size: var(--ordbase-button-font-size);

            border: 10px solid transparent;
            border-width: 0px 0px 0px 10px;
        }

        button span {
            flex: 0 0 100px;
        }

        button:focus,
        button:hover {
            background-color: var(--ordbase-color-dark);
            color: var(--ordbase-color-white);
            cursor: pointer;
        }


        button.selected:focus,
        button.selected {
            border-color: var(--ordbase-color-select);
        }

        #array-languagekey-complete {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        .languagekey-complete {
            display: flex;
            flex: 0 0 100px;
            margin: 0px 20px 0px 20px;
        }

        .fa-check {
            color: var(--ordbase-color-success);
        }

        .fa-times {
            color: var(--ordbase-color-danger);
        }

        .deleteable {
            border: 10px solid var(--ordbase-color-danger);
            border-width: 0px 0px 0px 10px;
            margin: 2px 0px 2px 0px;
        }
</style>

    <button class="btn-load-translation-editor">
        <span class="translation-key">{{ translationKey }}</span>
        
        <div  id="array-languagekey-complete">
            
            <template id="template-languagekey-complete">

                <div class="languagekey-complete">
                    <span>{{languageKey}}</span>
                    <i class="fa fa-times"></i>
                </div>
        
            </template>

        </div>
    </button>  