    <style>    
        :host {
            width:100%;
        }

        button {
            background-color: transparent;
            border: none; 
            color: var(--ordbase-color-dark); 

            display: flex;
            flex-wrap: wrap;

            margin-right: 0px;
            padding: 0 4% 0 4%;

            width:100%;
            min-height: 75px;
            font-size: var(--ordbase-button-font-size);
        }

        button 
        span {
            flex: 0 0 100px;
        }

        button
        .languages-complete {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        .fa-check {
            color: var(--ordbase-color-success);
        }

        .fa-times {
            color: var(--ordbase-color-danger);
        }
    </style>

    <button class="btn-load-translation-editor">
        <span class="translation-key">{{ translationKey }}</span>
        <div  class="languages-complete">
            
            <!--component-group-key-icon> <component-group-key-icon>-->
            <!--component-group-key-icon> <component-group-key-icon>-->
            <!--component-group-key-icon> <component-group-key-icon>-->

        </div>
    </button>  