    <style>
        @import url('/node_modules/font-awesome/css/font-awesome.min.css');
    
        

        :host {
            --box-shadow-color: var(--ordbase-color-success);
            --box-shadow-min: 20px;
            --box-shadow-max: 70px 3px;

            --animation-speed: .3s;

            width: 250px;
            height: 220px;
            flex-shrink: 0;

            padding: 20px 10px 10px 10px;

            color: var(--ordbase-color-dark);
        }

        button {
            background-color: transparent;
            border: none; 
            
            padding: 0px;
            cursor: pointer;
            color: var(--ordbase-color-dark);
            background-color: var(--ordbase-color-white) !important;
        }

        h2 {
            margin-bottom: 0px;
            margin-top: 7px;    
            padding: 0px 5px 0px 10px;
        }

        p {
            font-size: 13px;
            padding: 0px 5px 0px 10px;
        }

        /*---------------    --------      --------------- */ 
        /*--------------- Flashy Animation --------------- */
        /*---------------    ---------     --------------- */         
        @keyframes focusAnimation {
            from { box-shadow: 0px 0px var(--box-shadow-min) var(--box-shadow-color);  }
            to {  box-shadow: 0px 0px var(--box-shadow-max) var(--box-shadow-color); }
        }
        
        @keyframes defocusAnimation {
            from {  box-shadow: 0px 0px var(--box-shadow-max) var(--box-shadow-color); }
            to   { box-shadow: 0px 0px var(--box-shadow-min) var(--box-shadow-color);  }
            
        }
        
        button.animated 
        {
            animation-name: defocusAnimation;
            animation-duration: var(--animation-speed); 
        }

        button.animated:focus,
        button.animated:hover {
            animation-name: focusAnimation;
            animation-duration: var(--animation-speed);
        }


        /* SELECTABLE */
        button {
            --box-shadow-color: var(--ordbase-color-success);                        
            box-shadow: 0px 0px var(--box-shadow-min) var(--ordbase-color-success);            
             
        }


        button:focus,
        button:hover {
            box-shadow: 0px 0px var(--box-shadow-max) var(--ordbase-color-success);
        }

        /* EDITABLE */        
        .editable {
            --box-shadow-color: var(--ordbase-color-select);
            box-shadow: 0px 0px var(--box-shadow-min) var(--ordbase-color-select);            
        }
        .editable:focus,
        .editable:hover {
            box-shadow: 0px 0px var(--box-shadow-max) var(--ordbase-color-select);
        }

        /* DELETEABLE */
        .deleteable {
            --box-shadow-color: var(--ordbase-color-danger);            
            box-shadow: 0px 0px var(--box-shadow-min) var(--ordbase-color-danger);                        
        }
        .deleteable:focus,
        .deleteable:hover {
            box-shadow: 0px 0px var(--box-shadow-max) var(--ordbase-color-danger);
        }



    </style>

    <button class="card-button">
        <img widt="250" height="125" id="card-img"alt="Bilde av fylkesmannen" src="">
        <h2  id="card-h2"> {{ ddd    }}</h2>
        <p   id="card-p">  {{ text }}</p>
    </button>