
<style>

    h3 {
        font-size: var(--ordbase-h3-font-size);
        margin: 15px;
    }
    /* BUTTON language */
    .button-language {
        height: var(--ordbase-button-height);
        font-size: var(--ordbase-button-font-size);
        width: 100%;
        cursor: pointer;
        background-color: transparent;
        color: var(--ordbase-color-dark);
        
        border: none;

        border: 10px solid transparent;
        border-width: 0px 0px 0px 10px;
        /*border: 1px solid var(--ordbase-color-select);*/
    }   


    .button-language:focus {
        outline-color: var(--ordbase-color-dark);
        outline-width: 2px;
    }
    .button-language:focus,
    .button-language:hover {
        background-color: var(--ordbase-color-dark);
        color: var(--ordbase-color-white);
    } 

    .button-language.selected:focus,
    .button-language.selected {
        border-color: var(--ordbase-color-select);
    }
</style>

<h3  id="div-up-header"> Flip up</h3>
<div id="div-up"></div>

<h3  id="div-down-header"> Flipdown</h3>
<div id="div-down"></div>


<template id="template-button">
    <button class="button-language"></button>
</template>