    <style>
        @import url('/node_modules/font-awesome/css/font-awesome.min.css');

        #btn-header-left.selectable i { color: var(--ordbase-color-success); }
        #btn-header-left.editable   i { color: var(--ordbase-color-select); }
        #btn-header-left.deleteable i { color: var(--ordbase-color-danger); }
        #btn-header-left.newable    i { color: var(--ordbase-color-fresh); }

        .icon-button:hover .fa-trash, 
        .icon-button:focus .fa-trash, 
        .icon-button:hover .fa-times,
        .icon-button:focus .fa-times { color: var(--ordbase-color-danger); }
        
        .icon-button:hover .fa-arrow-left,
        .icon-button:focus .fa-arrow-left { color: var(--ordbase-color-success); }

        .icon-button:hover .fa-pencil ,
        .icon-button:focus .fa-pencil { color: var(--ordbase-color-select); }
        .icon-button:hover .fa-plus, 
        .icon-button:focus .fa-plus   { color: var(--ordbase-color-fresh); }
 

        /* --- HEADER --- */
        #button-row {           
            display: flex;
            text-align:  center;
            min-height: 60px;
            background-color: var(--ordbase-color-dark);
            color: var(--ordbase-color-white);
        }
        /* --------------- */

        button {
            background-color: transparent;
            border: none;
        }

        /* HEADER-ICON-BUTTON */
        .icon-button {
            font-size: 40px;
            flex: 0;
            flex-basis: 130px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        i {
            width: 100%;
            height: 100%;

            color: var(--ordbase-color-white);
        }
        /* --------------- */


        /* HEADER-TEXT-BUTTON */
        .header-text-button {
            padding-left: 50px;
            flex-grow: 1;
            color: var(--ordbase-color-white);
            display: flex;
            align-items: center;
        }

        h1 {   
            text-align: left;
            font-size: var(--ordbase-h1-font-size);
        }

        h2 {
            padding: 10px 0px 0px 20px;
            font-size: var(--ordbase-h2-font-size);
        }
        /* --------------- */


         #error-banner 
         {
            color: white;
            text-align: center;
            font-size: 3rem;
            background-color: var(--ordbase-color-danger);
         }

         #error-banner.active 
         {
            height: 100px;
            padding: 30px;
         }

         /* BANNER ANIMATION */
         #error-banner.animated 
         {
            animation-name: unFlashError;
            animation-duration: .5s;
         }

         #error-banner.active.animated 
         {
            animation-name: flashError;
            animation-duration: .5s;
         }

         @keyframes flashError 
         {
             from { height: 0px;   padding-top: 0px; }
             to   { height: 100px; padding-top: 30px;   }             
         }

        @keyframes unFlashError 
         {
             from { height: 100px;   padding-top: 30px;}
             to   { height: 0px;  padding-top: 0px;   }             
         }


    </style>

    <div id="button-row">
        <button id="btn-header-left" class="icon-button">
            <i class="fa fa-square" aria-hidden="true"></i>
        </button>

        <div id="btn-header-mid" class="header-text-button">
            <h1 id="btn-header-mid-big">  </h1>
            <h2 id="btn-header-mid-small"></h2>
        </div>

        <button id="btn-header-right1" class="icon-button">
            <i class="fa" aria-hidden="true"></i>
        </button>

        <button id="btn-header-right2" class="icon-button">
            <i class="fa" aria-hidden="true"></i>
        </button>
    </div>

    <div id="error-banner">
    </div>


