
    <style>

        :host {
            height: 100%;
            display: flex;
        }
        
        h2 {
            font-size: var(--ordbase-h2-font-size);
        }

        section#list-add-containers-on-client {
            margin: 0px;
            padding: 0px;
            flex: 0 0 200px;
            background-color: var(--ordbase-color-light); 
        }

        form {
            font-size: var(--ordbase-form-font-size);
        }

        label {
            color: var(--ordbase-color-dark);
            font-size: 1.5em;
            font-weight: bold;
        }

        input {
            font-size: 2em;
            margin: 0px 20px 10px 4px;
        }

        fieldset {
            border: none;
        }

    </style>

    <section id="list-add-containers-on-client" class="ordbase-list-containers">
        
        <!--ordbase-item-generator></ordbase-item-generator-->
        <!--ordbase-item-generator></ordbase-item-generator-->
                
    </section>

    <form>
        <h2>Client</h2>        
        
        <fieldset>
            <label for="form-client-name">Name</label><br>
            <input id="form-client-name" class="ordbase-input" type="text" data-min-size="20">
        </fieldset>

        <fieldset>
            <label for="form-client-picture">Nettadresse</label><br>
            <input id="form-client-picture" class="ordbase-input" type="text" data-min-size="20">
        </fieldset>

        <fieldset>
            <label for="form-client-homepage">Bildeadresse</label><br>
            <input id="form-client-homepage" class="ordbase-input" type="text" data-min-size="20">
        </fieldset>

        <fieldset>
            <label for="form-client-name">Api nøkkel</label><br>
            <input id="form-client-name" class="ordbase-input" type="text" data-min-size="20">
        </fieldset>
        
        <br>
        <br>

        <ordbase-button-submit></ordbase-button-submit>
    </form>

    <!--ordbase-card-client></ordbase-card-client-->
