<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />

        <modules runAllManagedModulesForAllRequests="true" />  <!-- @doc https://stackoverflow.com/questions/9703090/http-404-page-not-found-in-web-api-hosted-in-iis-7-5 -->
       
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>

        <!-- Configure the AspNetCoreModule in IIS server host-->
        <!-- @note this is platform-specific to the Windows IIS server hosting -->
        <aspNetCore processPath="dotnet"
                    arguments="C:\Projects\OrdBaseCore\bin\Debug\netcoreapp1.1\OrdBaseCore.dll"
                    stdoutLogEnabled="true"
                    stdoutLogFile="C:\Projects\OrdBaseCore\logs\stdout"
                    forwardWindowsAuthtoken="false" />

    </system.webServer>
    
     
</configuration>
