<template id="client-selector-view">
	<style>

        client-selector-view
        main {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: #f2ede9;
            height: 100%;
            align-content: flex-start;
        }


    </style>
	   <header class="ordbase-header">

            <button id="btn-toggle-inactive-menu" class="icon-button">
                <i class="fa fa-bars" aria-hidden="true"></i></button>

            <button id="btn-back-to-home-page" class="header-text-button">
                <h1>Ordbase - <small>Select Client</small></h1></button>

            <button id="btn-create-new-client" class="icon-button">
                <i class="fa fa-plus" aria-hidden="true"></i></button>

        </header>
	<main>

	</main>
	<footer></footer>
</template>
<script>
    'use strict';
    {
        let template = document.currentScript 
                            .ownerDocument
                            .querySelector("#client-selector-view")
                            .content;

        class ClientSelectorView extends HTMLElement {
            
            connectedCallback() {
                this.appendChild(document.importNode(template, true));
            }
        }
        customElements.define('client-selector-view', ClientSelectorView);
    }
</script>