<template id="view-translation-editor">
    <style></style>
    <header></header>
    <main>
        
    </main>
    <footer></footer>
</template>
<script>
    'use strict';

    class TranslationEditor extends HTMLElement {
        
        connectedCallback() {
            this.appendChild(
                document.importNode(
                    document.currentScript
                            .ownerDocument
                            .querySelector("#view-translation-editor")
                            .content, true));
        }
    }
    customElements.define('view-translation-editor', TranslationEditor);
</script>