<template id="translation-editor-view">
    <style></style>
    <header></header>
    <section id="category-drawer"><li></li></section>
    <main>
        <!-- CONTENT goes here -->
    </main>
    <footer></footer>
</template>
<script>
    'use strict';
    {
        let template = document.currentScript
                                .ownerDocument
                                .querySelector("#translation-editor-view")
                                .content; 
                                
        class TranslationEditorView extends HTMLElement {
            connectedCallback() {
                this.appendChild(
                    document.importNode(template, true));
            }
        }
        customElements.define('translation-editor-view', TranslationEditorView);
    }
</script>