<template>

    <div class="view-client-selector">
        <header class="ordbase-header">

            <button id="btn-toggle-inactive-menu" class="icon-button">
                <i class="fa fa-square" aria-hidden="true"></i></button>

            <button id="btn-back-to-home-page" class="header-text-button">
                <h1> {{ bigHeader }} - <small> {{ smallHeader }}</small></h1></button>

            <button id="btn-create-new-client" class="icon-button">
                <i class="fa fa-plus" aria-hidden="true"></i></button>

        </header>
        
        <main>            
              
                <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
                <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
                <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
                <!-- @note SCRIPT WILL INSERT card-client.html HERE -->                

        </main>
        <footer></footer>
    </div>

</template>
