
.view-client-editor {
    height: 100%;
}
.view-client-editor
main {
    height: 100%;
    display: flex;

}

/* ------------- FORM ------------- */

.view-client-editor form {
    font-size: var(--form-font-size);
}

.view-client-editor
form label {
    color: rgb(84, 84, 84);
    font-size: 1.5em;
    font-weight: bold;
}

.view-client-editor form fieldset
.ordbase-input {
    font-size: 2em;
    margin: 0px 20px 10px 4px;
}