<template id="view-translation-selector">

	<header class="ordbase-header">

        <button id="btn-toggle-container-list" class="icon-button">
            <i class="fa fa-bars" aria-hidden="true"></i></button>

        <button id="btn-back-to-home-page" class="header-text-button"> 
            <h1>Ordbase <small> - Select Translation </small></h1></button>

        <button id="btn-back-to-client-selector" class="icon-button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i></button>

        <button id="btn-create-new-translation" class="icon-button">
            <i class="fa fa-plus" aria-hidden="true"></i></button>

    </header>
   
    <main>
        <section id="list-show-containers-on-client" class="ordbase-container-list">
            <h2>Containers</h2>


        </section>

        <section id="list-show-translations-on-client" class="ordbase-translation-list">
            <h2>Translations</h2>


        </section>
	</main>

	<footer></footer>
</template>
<script>
    'use strict';
    {
        let template = document.currentScript.ownerDocument.querySelector("#view-translation-selector").content;

        class ViewTranslationSelector extends HTMLElement {
            connectedCallback() {
                this.appendChild(
                    document.importNode(template, true));
            }
        }
        customElements.define('view-translation-selector', ViewTranslationSelector);
    }
</script>