.view-translation-editor
    main {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

.ordbase-form-translation {
    height: 100%;
    margin-left: 20px;
}

.ordbase-form-translation
input { 
    outline: none;
    display: block; 
    border-style: solid;
    border-color: grey;

    border-width: 0 0 1px 0;
}

.ordbase-form-translation
input:focus {
    box-shadow: 0 0 2px 2px #55b8ff;
}

.ordbase-form-translation
input:disabled {
    background: none;
}

.ordbase-form-translation
fieldset {
    border: none;
}

.ordbase-form-translation
label {
    color: rgb(84, 84, 84);
    font-size: 1.5em;
    font-weight: bold;
}

.ordbase-form-translation
.form-textinput {
    font-size: 2em;
    margin: 0px 20px 10px 4px;
}

.ordbase-form-translation
.form-submit {
    font-size: 2em;
    background-color: white;
    color: #4CAF50; 
    border: 1px solid #4CAF50;
    width: 430px;
    height: 65px;
}

.ordbase-form-translation
.form-submit:focus,
.form-submit:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* -- Special rules -- */
.ordbase-form-translation
#form-translation {
    font-size: 1.5rem;
}       

.ordbase-form-translation
#input-key {   
    color: rgb(150, 150, 150);
    margin-top: 5px;
    font-size: 3em;
}

.ordbase-form-translation
.input-checkbox {
    width: 25px;
    height:25px;
    border: 1px solid #4CAF50;
}

.ordbase-form-translation
.input-lang-and-checkbox {
    display: flex;
}

.ordbase-form-translation
.lang-label {
    font-size: 1.2em;
}

.ordbase-form-translation
.input-checkbox-div {
    background-color: white;
}

.ordbase-form-translation
#checkbox-counter {
    font-size: 1.5em;
}