<template>

    <div class="view-translation-editor">
        <header class="ordbase-header">

            <button id="btn-toggle-container-list" class="icon-button">
                <i class="fa fa-bars" aria-hidden="true"></i></button>
            
            <button id="btn-back-to-home-page" class="header-text-button">
                <h1>{{ bigHeader }} <small> - {{ smallHeader }} </small></h1>
            
            <button id="btn-back-to-translation-selector" class="icon-button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            
            <button id="btn-save-edited-translation" class="icon-button">
                <i class="fa fa-floppy-o" aria-hidden="true"></i></button>


        </header>

        <main>
            <section id="list-show-containers-on-translation" class="ordbase-container-list">
                <h2>Containers</h2>

            </section>

            <form id="ordbase-form-translation">
                
                <h2>Nøkkel </h2>

                <fieldset>
                    <label class="lang-label" for="textarea-no-nb">no-nb</label>
                    
                    <span class="input-lang-and-checkbox">
                            <input id="input-no-nb" class="form-textinput" type="text" value="Dette er meg"></input>
                            <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
                    </span>
                </fieldset>

                <fieldset>
                    <label class="lang-label" for="textarea-no-nb">no-nn</label>
                    
                    <span class="input-lang-and-checkbox">
                            <input id="input-no-nb" class="form-textinput" type="text" value="Dette er meg"></input>
                            <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
                    </span>
                </fieldset>

                <fieldset>
                    <label class="lang-label" for="input-no-nb">en</label>
                    
                    <span class="input-lang-and-checkbox">
                            <input id="input-no-nb" class="form-textinput" type="text" value="This is me"></input>
                            <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
                    </span>
                </fieldset>

                <fieldset>                      
                    <label class="lang-label" for="input-no-nb">fi</label>
                    <span class="input-lang-and-checkbox">
                            <input id="input-no-nb" class="form-textinput" type="text" value="Tämä on minä"></input>
                            <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
                    </span>
                </fieldset>

                <br>
                <br>
                <br>
                
                <fieldset>
                    <label id="checkbox-counter">0/4 ferdig</label>

                    <br>
                        <br>

                    <button id="input-submit" class="form-submit" type="submit">Lagre</button>
                </fieldset>
            </form>

        </main>
        <footer></footer>
    </div>
    
</template>