.view-translation-editor {
    height: 100%;
}

.view-translation-editor
main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* ------------- FORM ------------- */
.view-translation-editor form {
    height: 100%;
    margin-left: 20px;
    font-size: var(--form-font-size);
}

.view-translation-editor form
label {
    color: rgb(84, 84, 84);
    font-size: 1.5em;
    font-weight: bold;
}

.view-translation-editor form
#checkbox-counter {
    font-size: 1.5em;
}

.view-translation-editor form
.form-submit {
    font-size: 2em;
    background-color: white;
    color: #4CAF50; 
    border: 1px solid #4CAF50;
    width: 430px;
    height: 65px;
}

.view-translation-editor form
.form-submit:focus,
.form-submit:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}