<template>

    <div class="view-client-editor">
        <header class="ordbase-header">

            <button id="btn-toggle-inactive-menu" class="icon-button">
                <i class="fa fa-bars" aria-hidden="true"></i></button>

            <button id="btn-back-to-home-page" class="header-text-button">
                <h1>{{ bigHeader }} - <small> {{ smallHeader }}</small></h1></button>

            <button id="btn-back-to-client-select" class="icon-button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i></button>

        </header>
        
        <main>
            
            <form id="ordbase-form-client">

                <fieldset>
                    <label for="form-client-name">Name</label>
                    <input id="form-client-name" class="form-textinput" type="text" data-min-size="20">
                </fieldset>

                <fieldset>
                    <label for="form-client-picture">Nettadresse</label>
                    <input id="form-client-picture" class="form-textinput" type="text" data-min-size="20">
                </fieldset>

                <fieldset>
                    <label for="form-client-homepage">Bildeadresse</label>
                    <input id="form-client-homepage" class="form-textinput" type="text" data-min-size="20">
                </fieldset>

                <fieldset>
                    <label for="form-client-name">Api nøkkel</label>
                    <input id="form-client-name" class="form-textinput" type="text" data-min-size="20">
                </fieldset>
                
                <br>
                <br>

                <button id="form-client-submit" class="form-submit" type="submit"> Lagre</button>
            </form>
        
        </main>
        
        <footer></footer>
    </div>
    
</template>