<template>

    <div class="view-client-editor">
        <header class="ordbase-header">

            <button id="btn-toggle-inactive-menu" class="icon-button">
                <i class="fa fa-bars" aria-hidden="true"></i></button>

            <button id="btn-back-to-home-page" class="header-text-button">
                <h1>{{ bigHeader }} - <small> {{ smallHeader }}</small></h1></button>

            <button id="btn-back-to-client-select" class="icon-button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i></button>

        </header>
        
        <main>
            
            <section id="list-show-containers-edit-client">
    
                <!-- @note SCRIPT WILL INSERT list-container.html HERE -->
                
            </section>

            <form>

                <fieldset>
                    <label for="form-client-name">Name</label>
                    <input id="form-client-name" class="ordbase-input" type="text" data-min-size="20">
                </fieldset>

                <fieldset>
                    <label for="form-client-picture">Nettadresse</label>
                    <input id="form-client-picture" class="ordbase-input" type="text" data-min-size="20">
                </fieldset>

                <fieldset>
                    <label for="form-client-homepage">Bildeadresse</label>
                    <input id="form-client-homepage" class="ordbase-input" type="text" data-min-size="20">
                </fieldset>

                <fieldset>
                    <label for="form-client-name">Api nøkkel</label>
                    <input id="form-client-name" class="ordbase-input" type="text" data-min-size="20">
                </fieldset>
                
                <br>
                <br>

                <button id="btn-form-client-submit" class="ordbase-btn-form-submit" type="submit"
                        onclick="event.target.classList.toggle('selected')"> Lagre</button>
            </form>
            
            <section id="card-show-edit-client">

                <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
                
            </section>
        </main>
        
        <footer></footer>
    </div>
    
</template>