
    <style>
        :host {
            height: 100%;
            display: flex;
        }

        #edit-client-left-menu {
            flex: 0 0 350px;
            background-color: var(--ordbase-color-light); 
            z-index: 1;
            box-shadow: 1px 0 5px -2px var(--ordbase-color-dark);
        }

        component-flipper-language {
            margin-top: 10px;
            padding: 0px;
        }

        component-generator-container {margin-top: 10px; }

    </style>

        <div id="edit-client-left-menu">

            <div id="slot-generator" class="slot"></div>
            
            <div id="slot-flipper" class="slot"></div>

        </div>

    <!--ordbase-form-client></ordbase-form-client-->
    <div id="slot-form" class="slot"></div>
    
    <!--ordbase-card-client></ordbase-card-client-->    
    <div id="slot-card" class="slot"></div>