   
    <style>
        
        form {
            height: 100%;
            margin-left: 20px;
            font-size: var(--form-font-size);
        }

        fieldset {
            border: none;
        }

        label {
            color: rgb(84, 84, 84);
            font-size: 1.5em;
            font-weight: bold;
        }

        #checkbox-counter {
            font-size: 1.5em;
        }

        #list-pick-a-container {
            display: flex;
            flex-direction: column;
        }

    </style>


    <section id="list-pick-a-container" class="ordbase-list-containers">
        <h2>Containers</h2>   

        <!--<ordbase-button-container></ordbase-button-container>-->
        <!--<ordbase-button-container></ordbase-button-container>-->
        <!--<ordbase-button-container></ordbase-button-container>-->
        
    </section>

    <form class="ordbase-form-translation">
        
        <h2> {{ translationKey }} </h2>

        <div id="fieldset-one-for-each-language">

            <!-- <ordbase-fieldset-translation> </ordbase-fieldset-translation>-->
            <!-- <ordbase-fieldset-translation> </ordbase-fieldset-translation> -->
            <!-- <ordbase-fieldset-translation> </ordbase-fieldset-translation> -->

        </div>

        
        <fieldset>
            <label id="checkbox-counter">0/4 ferdig</label>

            <ordbase-button-submit></ordbase-button-submit>
        </fieldset>
    </form>
