    <style>

        :host {
            display: flex;
            height: 100%;
        }


        h2 {
            margin-left: 20px;
            font-size: var(--ordbase-h2-font-size);
        }

        #section-containers-on-client {
                height: 100%;
                width: 300px;
                display: flex;
                flex-direction: column;
                background-color: var(--ordbase-color-light);
        }

        #section-translations-on-client {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        ordbase-button-select {
            font-size: 1rem;
        }

        ordbase-card-translation {
            font-size: 1rem;
        }

    </style>

    <section id="section-containers-on-client">
        <h2>Containers</h2>        

        <div id="list-containers-on-client">
            <!--<ordbase-button-select> </ordbase-button-select>-->
            <!--<ordbase-button-select> </ordbase-button-select>-->
            <!--<ordbase-button-select> </ordbase-button-select>-->
        </div>
    </section>

    <section id="section-translations-on-client">
        <h2>Translations</h2>
            
            <!--<ordbase-card-translation> </ordbase-card-translation>-->
            <!--<ordbase-card-translation> </ordbase-card-translation>-->
            <!--<ordbase-card-translation> </ordbase-card-translation>-->
    </section>