    <style>

        :host {
            display: flex;
            min-height: 100%;
        }


        h2 {
            padding: 10px;
            margin: 0px;
            font-size: var(--ordbase-h2-font-size);
            box-shadow: 0px 1px 5px -2px var(--ordbase-color-dark);            
        }

        #section-containers-on-client {
                min-height: 100%;
                width: 300px;
                display: flex;
                flex-direction: column;
                background-color: var(--ordbase-color-light);
            z-index: 1;
            box-shadow: 1px 0 5px -2px var(--ordbase-color-dark);
        }

        #section-translations-on-client {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;

            background-color: var(--ordbase-color-white);
        }

        ordbase-button-select {
            font-size: 1rem;
        }

        ordbase-card-translation {
            font-size: 1rem;
        }

    </style>

    <section id="section-containers-on-client">
        <h2>Containers</h2>        

        <div id="list-containers-on-client">
            <!--<ordbase-button-select> </ordbase-button-select>-->
            <!--<ordbase-button-select> </ordbase-button-select>-->
            <!--<ordbase-button-select> </ordbase-button-select>-->
        </div>
    </section>

    <section id="section-translations-on-client">
            
            <!--<ordbase-card-translation> </ordbase-card-translation>-->
            <!--<ordbase-card-translation> </ordbase-card-translation>-->
            <!--<ordbase-card-translation> </ordbase-card-translation>-->
    </section>