/* ----------- SUBMIT BUTTON ------------- */

.ordbase-btn-form-submit {
    font-size: 2em;
    width: 430px;
    height: 65px;

    background-color: transparent;
    color: var(--ordbase-color-dark); 
    border: 1px solid var(--ordbase-color-success);
}

.ordbase-btn-form-submit.selected,
.ordbase-btn-form-submit:hover {
    background-color: var(--ordbase-color-success);
    color: var(--ordbase-color-white);
}