ordbase-card {
    width: 250px;
    height: 220px;
    flex-shrink: 0;

    padding: 20px 10px 10px 10px;

    color: #3e4444;
}

ordbase-card button {
    padding: 0px;
    cursor: pointer;
    color: #3e4444;
    background-color: #ffffff;
}

ordbase-card img {

}

ordbase-card h2 {
    margin-bottom: 0px;
    margin-top: 7px;    
    padding: 0px 5px 0px 10px;
}

ordbase-card p {
    font-size: 13px;
    padding: 0px 5px 0px 10px;
}