
/* --- HEADER --- */
.ordbase-header {           
    display: flex;
    text-align:  center;
    min-height: 100px;
    background-color: #3e4444;
    color: #ffffff;
}
/* --------------- */


/* HEADER-ICON-BUTTON */
.ordbase-header .icon-button {
    font-size: 40px;
    flex: 0;
    flex-basis: 130px;
    display: flex;
    justify-content: center;
}

.ordbase-header .icon-button i {
    width: 100%;
    height: 100%;

    color: #ffffff;
}
/* --------------- */


/* HEADER-TEXT-BUTTON */
.ordbase-header .header-text-button {
    flex-grow: 1;
    color: #ffffff;
}

.ordbase-header .header-text-button h1 {   
    text-align: left;
    font-size: 36px;
}
/* --------------- */


