.ordbase-input { 
    outline: none;
    display: block; 
    border-style: solid;
    border-color: grey;

    border-width: 0 0 1px 0;
}

.ordbase-input:focus {
    box-shadow: 0 0 2px 2px #55b8ff;
}

.ordbase-input:disabled {
    background: none;
}