/* TRANSLATION LIST */
.ordbase-container-list {

    flex: 0 0 300px;
    display: flex;
    flex-direction: column;

    background-color: var(--ordbase-color-light);
}

.ordbase-container-list h2, 
.ordbase-translation-list h2 {
    margin-left: 20px;
}

.ordbase-translation-list {
    display: flex;
    flex-direction: column;
    flex: 1;
}