.ordbase-list-container {

        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: var(--ordbase-color-light);
}

.ordbase-list-container 
h2 {
      margin-left: 20px;
}

