/* http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */
/* 62.5% font-size makes 1em == 10px */ 
/* Rems and ems - https://css-tricks.com/rems-ems/ */

/* Main color set */
:root {
    --ordbase-color-dark:   #3e4444;
    --ordbase-color-light:  #f2ede9;
    --ordbase-color-white:  #ffffff;
    --ordbase-color-success: #4CAF50;
    --ordbase-color-danger:  #d9534f;
    --ordbase-color-select:  #55b8ff;
    --form-font-size: 1.6rem;
}

html, body {
    font-family: 'Muli', sans-serif;
    margin: auto;
    font-size: 62.5%;
    color: var(--ordbase-color-dark);

    height: 100%;
}

/* @doc remove button styling - https://stackoverflow.com/questions/22672368/how-to-make-a-transparent-html-button*/
/* @doc CSS cursors  - https://developer.mozilla.org/en/docs/Web/CSS/cursor */
body /deep/ input, button { 
    border: none; 
    background-color: transparent;
    cursor: pointer;
    padding: none;
    color: var(--ordbase-color-dark); 
 } 

body /deep/ fieldset {
    border: none;
}

body /deep/ h2 {
    font-size: 2.5rem;
}