/* External CSS libraries */
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* CSS components */
@import url('header.css');
@import url('list.css');
/* end */


html, body {
    font-family: 'Muli', sans-serif;
    margin: auto;
    height: 100%;
}

/* @doc remove button styling - https://stackoverflow.com/questions/22672368/how-to-make-a-transparent-html-button*/
/* @doc CSS cursors  - https://developer.mozilla.org/en/docs/Web/CSS/cursor */
input, button { 
    border:none; 
    background-color: transparent;
    cursor: pointer;
    padding: none;
    color: #3e4444;
 } 