<template id="client-selector">
	<style></style>
	<header></header>
	<main>
		
	</main>
	<footer></footer>
</template>
<script>
    'use strict';

    class ClientSelector extends HTMLElement {
        
        createdCallback() {
            let template = document.currentScript
                                    .ownerDocument
                                     .querySelector("#client-selector")
                                      .content;
            let clone = document.importNode(template, true);
            this.appendChild(clone);
        }
    }
    customElements.define('client-selector', ClientSelector);
</script>