<template id="translation-editor">
    <style></style>
    <header></header>
    <main>
        
    </main>
    <footer></footer>
</template>
<script>
    'use strict';

    class TranslationEditor extends HTMLElement {
        
        createdCallback() {
            let template = document.currentScript
                                    .ownerDocument
                                     .querySelector("#translation-editor")
                                      .content;
            let clone = document.importNode(template, true);
            this.appendChild(clone);
        }
    }
    customElements.define('translation-editor', TranslationEditor);
</script>