<template id="translation-selector">
	<style></style>
	<header></header>
	<main>
        <h1>Hello</h1>
	</main>
	<footer></footer>
</template>
<script>
    'use strict';

    class TranslationSelector extends HTMLElement {
        
        connectedCallback() {
            let template = document.currentScript
                                    .ownerDocument
                                     .querySelector("#translation-selector")
                                      .content;

            let clone = document.importNode(template, true);
            this.appendChild(clone);
        }
    }
    customElements.define('translation-selector', TranslationSelector);
</script>