<style>
    ordbase-card-client {
        width: 250px;
        height: 220px;
        flex-shrink: 0;

        padding: 20px 10px 10px 10px;

        color: var(--ordbase-color-dark);
    }

    ordbase-card-client
    button {
        padding: 0px;
        cursor: pointer;
        color: var(--ordbase-color-dark);
        background-color: var(--ordbase-color-white) !important;
    }

    ordbase-card-client
    h2 {
        margin-bottom: 0px;
        margin-top: 7px;    
        padding: 0px 5px 0px 10px;
    }

    ordbase-card-client
    p {
        font-size: 13px;
        padding: 0px 5px 0px 10px;
    }
</style>

<template id="template-card-client">

    <button class="card-button">
        <img alt="Bilde av fylkesmannen" src="{{ thumbnail }}">
        <h2> {{ heading    }}</h2>
        <p>  {{ text }}</p>
    </button>

</template>

<script>

    const TEMPLATE_CARD_CLIENT = document.currentScript.ownerDocument.getElementById('template-card-client');

    class OrdbaseCardClient extends HTMLElement {

        constructor() {
            super();
            resetBuffer();
        }

        resetBuffer() {
            this.buffer = TEMPLATE_CARD_CLIENT.content.cloneNode(true);
        }

        set thumbnail (url) { 
            this.buffer.querySelector('img').src = url || '{{ thumbnail }}';
        }
        set name (name){
            this.buffer.querySelector('h2') = name || '{{ heading }}';
        }
        set website (url) {
            this.buffer.querySelector('p') = url || '{{ text }}';
        }
        set buttonHandler(handler){
            this.buffer.querySelector('button').onclick = event => handler(name);
        }

        //
        // @doc Requirements of custom elements constructors
        //
        connectedCallback() {
            this.innerHTML = '';
            this.appendChild(buffer);
        }
    }
    customElements.define('ordbase-card-client', OrdbaseCardClient);
</script>