<template id="ordbase-card-translation">
    <button id="btn-load-translation-editor">
        <span id="span-show-translation-key"></span>
        <div id="div-show-if-languages-are-complete" class="languages-complete"></div>
    </button>    
</template>
<script>
    'use strict';
    {
        let template = document.currentScript.ownerDocument.querySelector("#ordbase-card-translation").content;

        class OrdbaseCardTranslation extends HTMLElement {
            connectedCallback() {
                this.appendChild(document.importNode(template, true));
            }
        }
        customElements.define('ordbase-card-translation', OrdbaseCardTranslation);
    }
</script>