<template>

    <div class="ordbase-card-translation">
        <button class="btn-load-translation-editor">
            <span class="translation-key">{{ translationKey }}</span>
            <div  class="languages-complete">
                
                <!-- @note loading script will fill in here -->
                <!--       This is a prototype which the script will clone -->
            
                <!--div class="key-and-icon"><span></span><i></i></div-->
                <!--div class="key-and-icon"><span></span><i></i></div-->
            </div>
        </button>    
    </div>

</template>