<link rel="import" href="./lib/fieldset-translation.html">

<template id="template-edit-translation">
        <style>

            /* ------------- FORM ------------- */ 
            form {
                height: 100%;
                margin-left: 20px;
                font-size: var(--form-font-size);
            }
 
            form label {
                color: rgb(84, 84, 84);
                font-size: 1.5em;
                font-weight: bold;
            }
 
            form #checkbox-counter {
                font-size: 1.5em;
            }

        </style>

        <ul id="list-pick-a-container" class="ordbase-list-containers">
            <h2>Containers</h2>        
            <!--template id="template-button-container"-->
            <!--template id="template-button-container"-->
            <!--template id="template-button-container"-->
            <!--/template-->
        </ul>

        <form class="ordbase-form-translation">
            
            <h2> {{ translationKey }} </h2>

            <div id="fieldset-one-for-each-language">

                <!-- @note SCRIPT WILL GENERATE fieldset-translation.html DYNAMICLY HERE BASED ON THIS TEMPLATE -->
                <!-- @note SCRIPT WILL GENERATE fieldset-translation.html DYNAMICLY HERE BASED ON THIS TEMPLATE -->
                <!-- @note SCRIPT WILL GENERATE fieldset-translation.html DYNAMICLY HERE BASED ON THIS TEMPLATE -->
                <!-- @note SCRIPT WILL GENERATE fieldset-translation.html DYNAMICLY HERE BASED ON THIS TEMPLATE -->

            </div>

            <br><br><br>
            
            <fieldset>
                <label id="checkbox-counter">0/4 ferdig</label>

                <br><br>


                
            </fieldset>
        </form>

</template>

<script>
    let TEMPLATE_EDIT_TRANSLATION = document.currentScript.ownerDocument.getElementById('template-edit-translation');
    let ELEMENT_FIELDSET_TRANSLATION = document.createElement('ordbase-fieldset-translation');

    class OrdbaseEditTranslation extends HTMLElement {

        constructor() {
            super();
            this.appendChild(TEMPLATE_EDIT_TRANSLATION.content.cloneNode(true));

        }
    }
    customElements.define('ordbase-edit-translation', OrdbaseEditTranslation);
</script>