.fieldset-translation
.ordbase-input {
    font-size: 2em;
    margin: 0px 20px 10px 4px;
}

.fieldset-translation
.input-checkbox {
    width: 25px;
    height:25px;
    border: 1px solid #4CAF50;
}


.fieldset-translation
.input-lang-and-checkbox {
    display: flex;
}


.fieldset-translation
.input-label {
    font-size: 1.2em;
}


.fieldset-translation
.input-checkbox-div {
    background-color: white;
}