<style>
    @import url('./form-client.css');
</style>

<template id="ordbase-form-client">

    <form id="form-client">

        <fieldset>
            <label for="form-client-name">Name</label>
            <input id="form-client-name" class="form-textinput" type="text" data-min-size="20">
        </fieldset>

        <fieldset>
            <label for="form-client-picture">Nettadresse</label>
            <input id="form-client-picture" class="form-textinput" type="text" data-min-size="20">
        </fieldset>

        <fieldset>
            <label for="form-client-homepage">Bildeadresse</label>
            <input id="form-client-homepage" class="form-textinput" type="text" data-min-size="20">
        </fieldset>

        <fieldset>
            <label for="form-client-name">Api nøkkel</label>
            <input id="form-client-name" class="form-textinput" type="text" data-min-size="20">
        </fieldset>
        
        <br>
        <br>

        <button id="form-client-submit" class="form-submit" type="submit"> Lagre</button>
    </form>
    
</template>

<script>
    'use strict';
    {
        let template = document.currentScript.ownerDocument.querySelector("#ordbase-form-client").content;

        class OrdbaseFormClient extends HTMLElement {
            connectedCallback() {
                this.appendChild(document.importNode(template, true));
            }
        }
        customElements.define('ordbase-form-client', OrdbaseFormClient);
    }
</script>