<template>

    <form id="ordbase-form-translation">
        
        <h2>Nøkkel </h2>

        <fieldset>
            <label class="lang-label" for="textarea-no-nb">no-nb</label>
            
            <span class="input-lang-and-checkbox">
                    <input id="input-no-nb" class="form-textinput" type="text" value="Dette er meg"></input>
                    <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
            </span>
        </fieldset>

        <fieldset>
            <label class="lang-label" for="textarea-no-nb">no-nn</label>
            
            <span class="input-lang-and-checkbox">
                    <input id="input-no-nb" class="form-textinput" type="text" value="Dette er meg"></input>
                    <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
            </span>
        </fieldset>

        <fieldset>
            <label class="lang-label" for="input-no-nb">en</label>
            
            <span class="input-lang-and-checkbox">
                    <input id="input-no-nb" class="form-textinput" type="text" value="This is me"></input>
                    <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
            </span>
        </fieldset>

        <fieldset>                      
            <label class="lang-label" for="input-no-nb">fi</label>
            <span class="input-lang-and-checkbox">
                    <input id="input-no-nb" class="form-textinput" type="text" value="Tämä on minä"></input>
                    <span class="input-checkbox-div"><input type="checkbox" class="input-checkbox"></span>
            </span>
        </fieldset>

        <br>
        <br>
        <br>
        
        <fieldset>
            <label id="checkbox-counter">0/4 ferdig</label>

             <br>
                <br>

             <button id="input-submit" class="form-submit" type="submit">Lagre</button>
        </fieldset>
    </form>
    
</template>