<style>
    @import url('./form-client.css');
</style>

<template id="ordbase-form-client">
    <form>




    </form>
</template>

<script>
    'use strict';
    {
        let template = document.currentScript.ownerDocument.querySelector("#ordbase-form-client").content;

        class OrdbaseFormClient extends HTMLElement {
            connectedCallback() {
                this.appendChild(document.importNode(template, true));
            }
        }
        customElements.define('ordbase-form-client', OrdbaseFormClient);
    }
</script>