<style>
    /* --- HEADER --- */
    ordbase-header {           
        display: flex;
        text-align:  center;
        min-height: 100px;
        background-color: var(--ordbase-color-dark);
        color: var(--ordbase-color-white);
    }
    /* --------------- */


    /* HEADER-ICON-BUTTON */
    ordbase-header 
    .icon-button {
        font-size: 40px;
        flex: 0;
        flex-basis: 130px;
        display: flex;
        justify-content: center;
    }

    ordbase-header 
    .icon-button i {
        width: 100%;
        height: 100%;

        color: var(--ordbase-color-white);
    }
    /* --------------- */


    /* HEADER-TEXT-BUTTON */
    ordbase-header 
    .header-text-button {
        flex-grow: 1;
        color: var(--ordbase-color-white);
    }

    ordbase-header 
    .header-text-button 
    h1 {   
        text-align: left;
        font-size: 36px;
    }
    /* --------------- */

</style>

<template id="template-header">
    
    <button id="btn-header-left" class="icon-button">
        <i class="fa fa-square" aria-hidden="true"></i>
    </button>

    <button id="btn-header-mid" class="header-text-button">
        <h1 id="btn-header-mid-big">  </h1>
        <h3 id="btn-header-mid-small"></h3>
    </button>

    <button id="btn-header-right1" class="icon-button">
        <i class="fa fa-square" aria-hidden="true"></i>
    </button>

    <button id="btn-header-right2" class="icon-button">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

</template>


<script>
    const TEMPLATE_HEADER = document.currentScript.ownerDocument.getElementById('template-header');
    const ICON_HEADER_NONE       = '';
    const ICON_HEADER_PLUS       = 'fa-plus';
    const ICON_HEADER_BARS       = 'fa-bars';
    const ICON_HEADER_SQUARE     = 'fa-square';
    const ICON_HEADER_ARROW_LEFT = 'fa-arrow-left';

    class OrdbaseHeader extends HTMLElement {

        constructor() {
            super();
            this.resetBuffer();
        }
        
        resetBuffer() {
            this.buffer = TEMPLATE_HEADER.content.cloneNode(true); 
        }

        render() {
            this.innerHTML = '';
            this.appendChild(this.buffer.cloneNode(true));
            this.resetBuffer();
        }

        set textBig(text)          { this.buffer.querySelector('#btn-header-mid-big').innerHTML   =  text;    }  
        set textSmall(text)        { this.buffer.querySelector('#btn-header-mid-small').innerHTML =  text;    }
        set buttonIconLeft(icon)   { this.buffer.querySelector('#btn-header-left').classList.add(icon);   }
        set buttonIconRight1(icon) { this.buffer.querySelector('#btn-header-right1').classList.add(icon); } 
        set buttonIconRight2(icon) { this.buffer.querySelector('#btn-header-right2').classList.add(icon); }   
       
        set onClickButtonLeft   (handler) { console.log(this.buffer); this.buffer.querySelector('#btn-header-left').onclick = event => console.log('hellhel') };
        set onClickButtonRight1 (handler) { this.buffer.querySelector('#btn-header-right1').onclick = event => console.log('hellhel'); };
        set onClickButtonRight2 (handler) { this.buffer.querySelector('#btn-header-r1ight2').onclick = event => console.log('hellhel'); };

        connectedCallback() {
            this.render();
        }
    }
    customElements.define('ordbase-header', OrdbaseHeader);

</script>