<style>
    /* --- HEADER --- */
    ordbase-header {           
        display: flex;
        text-align:  center;
        min-height: 100px;
        background-color: var(--ordbase-color-dark);
        color: var(--ordbase-color-white);
    }
    /* --------------- */


    /* HEADER-ICON-BUTTON */
    ordbase-header 
    .icon-button {
        font-size: 40px;
        flex: 0;
        flex-basis: 130px;
        display: flex;
        justify-content: center;
    }

    ordbase-header 
    .icon-button i {
        width: 100%;
        height: 100%;

        color: var(--ordbase-color-white);
    }
    /* --------------- */


    /* HEADER-TEXT-BUTTON */
    ordbase-header 
    .header-text-button {
        flex-grow: 1;
        color: var(--ordbase-color-white);
    }

    ordbase-header 
    .header-text-button 
    h1 {   
        text-align: left;
        font-size: 36px;
    }
    /* --------------- */

</style>

<template id="template-header">
    
    <button id="btn-header-left" class="icon-button">
        <i class="fa fa-square" aria-hidden="true"></i>
    </button>

    <button id="btn-header-mid" class="header-text-button">
        <h1 id="btn-header-mid-big"> {{ bigHeader }} - </h1>
        <h3 id="btn-header-mid-small"> {{ smallHeader }}</h3>
    </button>

    <button id="btn-header-right1" class="icon-button">
        <i class="fa" aria-hidden="true"></i>
    </button>

    <button id="btn-header-right2" class="icon-button">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

</template>


<script>
    const TEMPLATE_HEADER = document.currentScript.ownerDocument.getElementById('template-header');
    const ICON_HEADER_NONE       = '';
    const ICON_HEADER_PLUS       = 'fa fa-plus';
    const ICON_HEADER_BARS       = 'fa fa-bars';
    const ICON_HEADER_SQUARE     = 'fa fa-square';
    const ICON_HEADER_ARROW_LEFT = 'fa fa-arrow-left';

    class OrdbaseHeader extends HTMLElement {

        constructor() {
            super();
            this.data  = {};
            this.dom   = {};
            this.constructed = false;
        }
        
        DOMUpdate() {
            this.dom.buttonLeft.setAttribute('class',   this.data.buttonIconLeft   || 'fa fa-square');  
            this.dom.buttonRight1.setAttribute('class', this.data.buttonIconRight1 || 'fa fa-square');
            this.dom.buttonRight2.setAttribute('class', this.data.buttonIconRight2 || 'fa fa-square');

            this.dom.textBig.innerHTML   = this.data.textBig   || '{{ no header }}';  
            this.dom.textSmall.innerHTML = this.data.textSmall || '{{ no header}}';

            this.dom.buttonLeft.onclick   = event => this.handlerButtonLeft();
            this.dom.buttonRight1.onclick = event => this.handlerButtonRight1();
            this.dom.buttonRight2.onclick = event => this.handlerButtonRight2();
        }   

        connectedCallback() {
            if (!this.constructed) {
                this.data = {
                    textBig             : 'Ordbase',
                    textSmall           : 'Select Client',
                    buttonIconLeft      : ICON_HEADER_SQUARE,
                    buttonIconRight1    : ICON_HEADER_NONE, 
                    buttonIconRight2    : ICON_HEADER_PLUS,
                };

                this.appendChild(document.importNode(TEMPLATE_HEADER.content, true));

                this.dom = {
                    textBig      : this.querySelector('#btn-header-mid-big'),  
                    textSmall    : this.querySelector('#btn-header-mid-small'),
                    buttonLeft   : this.querySelector('#btn-header-left'),
                    buttonRight1 : this.querySelector('#btn-header-right1'), 
                    buttonRight2 : this.querySelector('#btn-header-right1'),   
                };
                           
                this.constructed = true;
            }
            this.DOMUpdate();
        }


    }
    customElements.define('ordbase-header', OrdbaseHeader);

</script>