<style>
        ordbase-list-container {

                height: 100%;
                width: 300px;
                display: flex;
                flex-direction: column;
                background-color: var(--ordbase-color-light);
        }

        ordbase-list-container 
        h2 {
              margin-left: 20px;
        }

</style>

<template id="template-list-container">
        <h2>Containers</h2>        
        <!-- @note SCRIPT WILL GENERATE ELEMENTS DYNAMICLY HERE BASED ON THIS TEMPLATE -->
        <template id="template-button-container">
                <button id="{{ id }}" class="ordbase-btn-container-select {{ selected }}"> {{ text }} </button>
        </template>

</template>

<script>
    const TEMPLATE_LIST_CONTAINER = document.currentScript.ownerDocument.getElementById('template-list-container');
    const TEMPLATE_BUTTON_CONTAINER = TEMPLATE_LIST_CONTAINER.content.getElementById('template-button-container');

    class OrdbaseListContainer extends HTMLElement {

        constructor() {
            super();
            this.constructed = false;
        }

        spawnButtons(buttonCount) {
                
                for (let i = 0; i < buttonCount; i++) {
                        let button = TEMPLATE_BUTTON_CONTAINER.content.cloneNode(true);

                        
                        
                } 
        }

        connectedCallback() {
            if(!this.constructed) {
                this.appendChild(TEMPLATE_LIST_CONTAINER.content.cloneNode(true));

                this.constructed = true;
            }
        }

        updateDom() {

        }
    }
    customElements.define('ordbase-list-container', OrdbaseListContainer);
</script>