<style>
        ordbase-list-container {

                height: 100%;
                width: 300px;
                display: flex;
                flex-direction: column;
                background-color: var(--ordbase-color-light);
        }

        ordbase-list-container 
        h2 {
              margin-left: 20px;
        }

</style>
<template id="template-list-container">
        <h2>Containers</h2>        
        <!-- @note SCRIPT WILL GENERATE ELEMENTS DYNAMICLY HERE BASED ON THIS TEMPLATE -->
        <template id="template-button-container">
                <button id="{{ id }}" class="ordbase-btn-container-select {{ selected }}"> {{ text }} </button>
        </template>

</template>


<script>
    let TEMPLATE_LIST_CONTAINER = document.currentScript.ownerDocument.getElementById('template-list-container');

    class OrdbaseListContainer extends HTMLElement {

        constructor() {
            super();
            this.appendChild(TEMPLATE_LIST_CONTAINER.content.cloneNode(true));


        }

        connectedCallback() {

        }

        updateDom() {

        }
    }
    customElements.define('ordbase-list-container', OrdbaseListContainer);
</script>