<style>

    .ordbase-list-translation h2 {
        margin-left: 20px;
    }

    .ordbase-list-translation {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    /* -------- CARD-TRANSLATION template -----------*/

    .ordbase-card-translation {
        width:100%;
    }

    .ordbase-card-translation 
    button {
        display: flex;
        flex-wrap: wrap;

        margin-right: 0px;
        padding: 0 4% 0 4%;

        width:100%;
        min-height: 75px;
        font-size: 4em;
    }


    .ordbase-card-translation button 
    span {
        flex: 0 0 100px;
    }

    .ordbase-card-translation button
    .languages-complete {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .ordbase-card-translation .fa-check {
        color: var(--ordbase-color-success);
    }

    .ordbase-card-translation .fa-times {
        color: var(--ordbase-color-danger);
    }

    /* -------- KEY-AND-ICON template -----------*/
    .view-translation-selector
    .ordbase-key-and-icon {
        margin: 0px 10px 0px 10px;
        flex: 0 1 120px;

        display: flex;
    }

    .view-translation-selector
    .ordbase-key-and-icon 
    span {
        display: flex;
    }
</style>



<!-- ///////////////////// TEMPLATE  //////////////////////// -->
<template id="template-key-and-icon">

    <div class="ordbase-key-and-icon">
        <span class="language-key">{{ languageKey }}</span>
        <i class="fa {{ fontawesomeClass }} language-icon" aria-hidden="true"></i>
    </div>

</template>

<script>
    const TEMPLATE_KEY_AND_ICON = localDoc.getElementById('template-key-and-icon');

    class OrdbaseKeyAndIcon extends HTMLElement { 
        constructor() {
            super();
            this.buffer = TEMPLATE_CARD_TRANSLATION.content.cloneNode(true);
        }

        set languageKey(key) { this.buffer.querySelector('span').innerHTML = key; }
        set icon(iconClass)  { this.buffer.querySelector('i').classList.add(iconClass); }

        connectedCallback()  {  this.innerHTML = ''; this.appendChild(this.buffer.cloneNode(true)); }
    }
    customElements.define('ordbase-key-and-icon', OrdbaseCardTranslation);
</script>


<!-- ///////////////////// TEMPLATE  //////////////////////// -->
<template id="template-card-translation">

    <button class="btn-load-translation-editor">
        <span class="translation-key">{{ translationKey }}</span>
        <div  class="languages-complete">
            
        <!--template id="template-key-and-icon"-->
        <!--/template -->

        </div>
    </button>  

</template>

<script>
    const TEMPLATE_CARD_TRANSLATION   = localDoc.getElementById('template-card-translation');
    const TEMPLATE_KEY_AND_ICON = document.createElement('ordbase-key-and-icon');
    
    class OrdbaseCardTranslation extends HTMLElement { 
        constructor() {
            super();
            this.buffer = TEMPLATE_CARD_TRANSLATION.content.cloneNode(true);
        }
        set key (key)       { this.buffer.querySelector('span').innerHTML = key; }

        spawnKeyAndIcon()            { return TEMPLATE_KEY_AND_ICON.cloneNode(true); }
        appendKeyAndIcon(keyAndIcon) { this.buffer.querySelector('div').appendChild(keyAndIcon); }

        connectedCallback() { this.innerHTML = ''; this.appendChild(this.buffer.cloneNode(true)); }
    }
    customElements.define('ordbase-card-translation', OrdbaseCardTranslation);

</script>



<!-- ///////////////////// TEMPLATE  //////////////////////// -->
<template id="template-select-translation">

    <ul id="list-show-containers-on-client" class="ordbase-list-containers">
        <h2>Containers</h2>        
        <!--template id="template-button-container"-->
        <!--/template-->
    </ul>

    <section id="list-show-translations-on-client" class="ordbase-list-translation">
        <h2>Translations</h2>
    
        <!--template id="template-card-translation"-->
        <!-- /template -->
    </section>
</template>

<script>
    const TEMPLATE_SELECT_TRANSLATION = __localDocument.getElementById('template-select-translation');
    const TEMPLATE_BUTON_CONTAINER    = document.createElement('ordbase-button-container');
    const TEMPLATE_CARD_TRANSLATION   = document.createElement('ordbase-card-translation');

    class OrdbaseSelectTranslation extends HTMLElement {

        constructor() {
            super();
            this.buffer = TEMPLATE_SELECT_TRANSLATION.content.cloneNode(true);
        }

        render() {
            this.innerHTML = '';
            this.appendChild(this.buffer.cloneNode(true));
        }

        spawnBtnContainer ()       { return TEMPLATE_BUTON_CONTAINER.cloneNode(true); }
        appendBtnContainer (btn)   { this.buffer.querySelector('#list-show-containers-on-client')
                                                .appendChild(btn); 
        }

        spawnCardTranslation ()      { return TEMPLATE_CARD_TRANSLATION.cloneNode(true);  }
        appendCardTranslation (card) { this.buffer.querySelector('#list-show-translations-on-client')
                                                  .appendChild(card);
        }

        connectedCallback() {  this.render(); }
    }
    customElements.define('ordbase-select-translation', OrdbaseSelectTranslation);
</script>