<style>
    ordbase-select-client {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: var(--ordbase-color-light);
        align-content: flex-start;
    }

</style>


<template id="template-select-client">

    
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->                

    
</template>


<script>
    const TEMPLATE_SELECT_CLIENT = document.currentScript.ownerDocument.getElementById('template-select-client');
    
    class OrdbaseSelectClient extends HTMLElement {

        constructor() {
            this.appendChild(TEMPLATE_SELECT_CLIENT.content.cloneNode(true));
            this.clients = {};            
        }

        connectedCallback() {
            this.render();
        }

        render() {
            this.appendChild(client)
        }
    }
    customElements.define('ordbase-select-client', OrdbaseSelectClient);
</script>