<link rel="import" href="./lib/card-translation.html">
<link rel="import" href="./lib/button-container.html">


<!-- ///////////////////// TEMPLATE  //////////////////////// -->
<template id="template-select-translation">
    <style>

        :host {
            display: flex;
        }

        .ordbase-list-container {
                height: 100%;
                width: 300px;
                display: flex;
                flex-direction: column;
                background-color: var(--ordbase-color-light);
        }

        .ordbase-list-container 
        h2 {
            margin-left: 20px;
        }

        .ordbase-list-translation h2 {
            margin-left: 20px;
        }

        .ordbase-list-translation {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

    </style>

    <ul id="list-show-containers-on-client" class="ordbase-list-containers">
        <h2>Containers</h2>        
        <!--template id="template-button-container"-->
        <!--template id="template-button-container"-->
        <!--template id="template-button-container"-->
        <!--/template-->
    </ul>

    <section id="list-show-translations-on-client" class="ordbase-list-translation">
        <h2>Translations</h2>
    
        <!--template id="template-card-translation"-->
        <!--template id="template-card-translation"-->        
        <!--template id="template-card-translation"-->
        <!-- /template -->
    </section>
</template>

<script>
    const TEMPLATE_SELECT_TRANSLATION = document.currentScript.ownerDocument.getElementById('template-select-translation');
    const ELEMENT_BUTON_CONTAINER     = document.createElement('ordbase-button-container');
    const ELEMENT_CARD_TRANSLATION    = document.createElement('ordbase-card-translation');

    class OrdbaseSelectTranslation extends HTMLElement {

        constructor() {
            super();
            this.root = this.createShadowRoot();
            this.root.appendChild(document.importNode(TEMPLATE_SELECT_TRANSLATION.content, true));
        }

        spawnButtonContainer () {
             return ELEMENT_BUTON_CONTAINER.cloneNode(true); 
        }

        appendButtonContainer (btn) {
             this.root.querySelector('#list-show-containers-on-client').appendChild(btn); 
        }

        spawnCardTranslation () { 
            return ELEMENT_CARD_TRANSLATION.cloneNode(true);  
        }

        appendCardTranslation (card) { 
            this.root.querySelector('#list-show-translations-on-client').appendChild(card);
        }
    }
    customElements.define('ordbase-select-translation', OrdbaseSelectTranslation);
</script>