<style>

    .ordbase-list-translation h2 {
        margin-left: 20px;
    }

    .ordbase-list-translation {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    /* -------- CARD-TRANSLATION template -----------*/

    .ordbase-card-translation {
        width:100%;
    }

    .ordbase-card-translation 
    button {
        display: flex;
        flex-wrap: wrap;

        margin-right: 0px;
        padding: 0 4% 0 4%;

        width:100%;
        min-height: 75px;
        font-size: 4em;
    }


    .ordbase-card-translation button 
    span {
        flex: 0 0 100px;
    }

    .ordbase-card-translation button
    .languages-complete {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .ordbase-card-translation .fa-check {
        color: var(--ordbase-color-success);
    }

    .ordbase-card-translation .fa-times {
        color: var(--ordbase-color-danger);
    }

    /* -------- KEY-AND-ICON template -----------*/
    .view-translation-selector
    .ordbase-key-and-icon {
        margin: 0px 10px 0px 10px;
        flex: 0 1 120px;

        display: flex;
    }

    .view-translation-selector
    .ordbase-key-and-icon 
    span {
        display: flex;
    }
</style>
<template>

    <ordbase-list-translation></ordbase-list-translation>

    <section id="list-show-translations-on-client" class="ordbase-list-translation">
        <h2>Translations</h2>
    

        <!-- @note SCRIPT WILL GENERATE ELEMENTS DYNAMICLY HERE BASED ON THIS TEMPLATE -->
        <template id="template-card-translation">

            <div class="ordbase-card-translation">
                <button class="btn-load-translation-editor">
                    <span class="translation-key">{{ translationKey }}</span>
                    <div  class="languages-complete">
                        

                        <!-- @note SCRIPT WILL GENERATE ELEMENTS DYNAMICLY HERE BASED ON THIS TEMPLATE -->
                        <template id="template-key-and-icon">

                            <div class="ordbase-key-and-icon">
                                <span class="language-key">{{ languageKey }}</span>
                                <i    class="fa {{ fontawesomeClass }} language-icon" aria-hidden="true"></i>
                            </div>

                        </template>


                    </div>
                </button>    
            </div>
        </template>

        
    </section>

    
</template>

<script>
    const TEMPLATE_SELECT_TRANSLATION = document.currentScript.ownerDocument.getElementById('template-select-translation');

    class OrdbaseSelectTranslation extends HTMLElement {

        constructor() {
            super();
            this.appendChild(TEMPLATE_SELECT_TRANSLATION.content.cloneNode(true));

        }

        connectedCallback() {

        }

        updateDom() {

        }
    }
    customElements.define('ordbase-select-translation', OrdbaseSelectTranslation);
</script>