


<template id="template-select-client">
    <style>
        :host {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: var(--ordbase-color-light);
            align-content: flex-start;
        }
    </style>

    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->
    <!-- @note SCRIPT WILL INSERT card-client.html HERE -->                

    
</template>


<script>
    const TEMPLATE_SELECT_CLIENT = document.currentScript.ownerDocument.getElementById('template-select-client');
    const ELEMENT_CARD_CLIENT    = document.createElement('ordbase-card-client');

    // @doc empty javascript array - https://appendto.com/2016/02/empty-array-javascript/

    class OrdbaseSelectClient extends HTMLElement {

        constructor() {
            super();
            this.root = this.createShadowRoot();
            this.root.appendChild(document.importNode(TEMPLATE_SELECT_CLIENT.content, true));
        }

        spawnCard()       {  
            return ELEMENT_CARD_CLIENT.cloneNode(true); 
        }

        appendCard(card)  {  
            this.root.appendChild(card);      
        }

        connectedCallback() { 
        }
    }
    customElements.define('ordbase-select-client', OrdbaseSelectClient);
</script>