/* http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */
/* 62.5% font-size makes 1em == 10px */ 
/* Rems and ems - https://css-tricks.com/rems-ems/ */

/* Main color set */
:root {
    --ordbase-color-dark:   #3e4444;
    --ordbase-color-light:  #f2ede9;
    --ordbase-color-white:  #ffffff;
    --ordbase-color-success: #4CAF50;
    --ordbase-color-danger:  #d9534f;
    --ordbase-color-select:  #55b8ff;

    --ordbase-button-height:    40px;
    
    --ordbase-button-font-size: 2.5rem;
    --ordbase-input-font-size:  2.2rem;

    --ordbase-h1-font-size:    3.6rem;
    --ordbase-h2-font-size:    2.2rem;
    --ordbase-h3-font-size:    1.5rem;
    --ordbase-form-font-size:   1rem;
}

html, body {
    font-family: 'Muli', sans-serif;
    margin: auto;
    font-size: 62.5%;
    color: var(--ordbase-color-dark);

    height: 100%;
}

main {
    height: 100%;
}