@using OrdBase.ViewModels
@model EditorViewModel
    <!-- __________________________________ PARTIAL VIEW: EDTIOR  _________________________________-->
    <group id="editorGroup" style="display: none;">

        
        <section id="categoryEditor" class="CategoryColumn">
            <h3>Translation categories</h3>
        </section>


        <section id="translationEditor">
            <h3>Translation editor</h3>

            <form>
                <label for="inputAccess">API Access key</label></br>
                <input id="inputAccess" style="font-size: .8em; type="" name=""></br>

                <fieldset style="border: none; ">
                    <legend>Translations</legend>

                    <label for="inputBokmal">Bokmål</label> </br>
                    <textarea id="inputBokmal" style="font-size: .8em;">ksadfasfsf</textarea></br>

                    <label for="inputNynorsk">Nynorsk</label> </br>
                    <textarea id="inputNynorsk" style="font-size: .8em;">ksadfasfsf</textarea></br>

                    <label for="inputSamisk">Samisk</label> </br>
                    <textarea id="inputSamisk" style="font-size: .8em;">ksadfasfsf</textarea></br>

                    <label for="inputEngelsk">Engelsk</label></br>
                    <textarea id="inputEngelsk" style="font-size: .8em;">sadfsdfsdf</textarea></br>
                </fieldset>

                <button onclick="App.OnEditorCancelClick()" style="background: red;   color: white; ">Cancel</button>
                <button onclick="App.OnEditorSubmitClick()" style="background: green; color: white; ">Submit</button>
            </form>
        </section>


    </group>
    <!--_______________________________ PARTIAL VIEW END ___________________________________-->