@using OrdBase.ViewModels
@model AppViewModel

<main id="appMain">
    <section id="appHeading">
        <h2>@Model.ClientName</h2>
    </section>

    @{
        Html.RenderAction("Selector");
        Html.RenderAction("Editor");
    }

</main>
