/* 
    @project OrdBase
    @file App.css
    @created 16.06.17
    @creator Jonas Solsvik

     @brief Main css file for OrdBase-app

    @doc flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    @doc rem vs em: http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/
    @doc color-picker: https://www.w3schools.com/colors/colors_picker.asp
*/

html, body { font-size: 1rem;}
button     { font-size: 1em; }
li         { list-style-type: none;}

#appMain       {}
#appHeading    {}

.DynamicList { display: flex; flex-direction: column; padding-left: 0px; }
.Highlighted { background-color: #7aadff !important; }
.ListButton  {
    border: none;
    width: 100%;
    height: 100%;
    background: none;
    padding: 1rem;
    margin: 0.3rem;

    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #A9A9A9;
}