/* 
    @project OrdBase
    @file Selector.css
    @created 19.06.17
    @creator Jonas Solsvik
*/

#selectorGroup { display: flex; }

#selectorCategoryList    {  }
#selectorTranslationList {  }

#categorySelector 
{
    flex-basis: 150px;
    flex-shrink: 0;
    padding-right: 100px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #A9A9A9;
}

#translationSelector 
{
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 100px;
}

#translationSelector h3 { padding-left: 10px; }
#categorySelector    h3 { padding-left: 10px; }

.CategoryListButton      {  }
.TranslationListButton   {  }