<link rel="import" href="../lib/card-client.html">

<template id="template-select-client">
    <style>
        :host {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: var(--ordbase-color-light);
            align-content: flex-start;
        }
    </style>

    <!-- <ordbase-card-client> </ordbase-card-client> -->
    <!-- <ordbase-card-client> </ordbase-card-client> -->
    <!-- <ordbase-card-client> </ordbase-card-client> -->
    <!-- <ordbase-card-client> </ordbase-card-client> -->
    
</template>

<script>
    const TEMPLATE_SELECT_CLIENT = loadTemplate('template-select-client');
    const ELEMENT_CARD_CLIENT    = document.createElement('ordbase-card-client');

    // @doc empty javascript array - https://appendto.com/2016/02/empty-array-javascript/

    class OrdbaseSelectClient extends HTMLElement {

        constructor() {
            super();
            this.root = generateShadowRoot.call(this, TEMPLATE_SELECT_CLIENT);
        }

        spawnCard()       {   return ELEMENT_CARD_CLIENT.cloneNode(true);  }
        appendCard(card)  {   this.root.appendChild(card);                 }
    }
    customElements.define('ordbase-select-client', OrdbaseSelectClient);
</script>