/* TRANSLATION LIST */
.ordbase-container-list {

    flex: 0 0 300px;
    display: flex;
    flex-direction: column;

    background-color: #f2ede9;
}

.ordbase-container-list h2,
.ordbase-translation-list h2 {
    margin-left: 20px;
}

.ordbase-container-list
button {
    height: 75px;
    font-size: 30px;
}   

.ordbase-container-list 
button.selected {

    background-color: #3e4444;
    color: white;
}

/* CONTAINER LIST */
.ordbase-translation-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    flex: 1;
}